<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Travel app</title>
		<!-- <link
			href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="./styles/style.scss" /> -->
	</head>
	<body>
		<div id="app">
			<div class="holder headline">Travel Planner</div>
			<div class="holder zip">
				<div class="userInputs">
					<label for="location">Enter location here</label>
					<input type="text" id="location" placeholder="Enter city here" />

					<label for="date">Enter departure date here</label>
					<input type="text" id="date" placeholder="Enter departure date here" />
				</div>
</div>
				<button id="generate" type="submit" onclick="return Client.handleSubmit(event)"
							onsubmit="return Client.handleSubmit(event)">Generate</button>
			</div>
			<!-- <div class="holder feel">
				<label for="feelings">How are you feeling today?</label>
				<textarea class="myInput" id="feelings" placeholder="Enter your feelings here" rows="9" cols="50"></textarea>
			</div> -->
			<div class="holder entry">
				<div class="weather" id="entryHolder">
					<p>Results 👇 👇 👇</p>
					<div id="country"></div>
					<div id="latitude"></div>
					<div id="longitude"></div>
				</div>
			</div>
		</div>
		<!-- <script src="app.js" type="text/javascript"></script> -->
		<!-- <script>
			if ("serviceWorker" in navigator) {
				window.addEventListener("load", () => {
					navigator.serviceWorker
						.register("/service-worker.js")
						.then((registration) => {
							console.log("SW registered: ", registration);
						})
						.catch((registrationError) => {
							console.log("SW registration failed: ", registrationError);
						});
				});
			}

		</script> -->
	</body>
</html>
