@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mali:wght@500&display=swap");

$link_color: #f2db66;
$font_custom_1: "Inconsolata", sans-serif;
$font_custom_2: "Mali", sans-serif;
$custom_color_1: blue;
$custom_color_2: #0d0d0d;
$custom_color_3: lightsteelblue;

footer {
	background-color: $custom_color_3;
	color: white;
	text-align: left;
	font-family: "Mali", cursive;
	justify-content: flex-end;
}

.footer {
	display: flex;
}

.footer-text {
	padding: 10px;
	flex-grow: 1;
	align-self: center;
	color: whitesmoke;
}

.social-media {
	flex-grow: 0;
}

.social-media a {
	width: 48px;
	height: 48px;
	border-radius: 24px;
	margin-top: 10px;
	text-decoration: none;
	text-align: left;
	color: white;
}
.social-media a img {
	height: 48px;
	padding: 5px;
	margin-top: 10px;
}
